services:
  mongo:
    image: mongo:latest
    container_name: mean-mongo
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: mean-backend
    environment:
      - MONGO_URI=mongodb://mongo:27017/dd_db
      - PORT=8080
    ports:
      - "8080:8080"
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    container_name: mean-frontend
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    container_name: mean-nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend

volumes:
  mongo-data:
